[Unit]
Description=Jenkins-Parkfarm Master container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30

ExecStartPre=-/bin/bash -c "if [[ $(docker ps -a -f 'name=%p') ]]; then docker rm -f %p; fi"
ExecStartPre=-/bin/bash -c "rm -r ${JENKINS_HOME_DIR}/init.groovy.d/* || true"
ExecStartPre=-/bin/bash -c "rm ${JENKINS_HOME_DIR}/jenkins.properties || true"
ExecStartPre=-/bin/bash -c "rm ${JENKINS_HOME_DIR}/slaves.properties || true"
ExecStart=/usr/bin/docker run \
            --name %p \
            --publish ${JENKINS_HOST_PORT}:${JENKINS_CONTAINER_PORT} \
            --publish ${JENKINS_JNLP_HOST_PORT}:${JENKINS_JNLP_CONTAINER_PORT} \
            --volume ${JENKINS_HOME_DIR}:/var/jenkins_home \
            --env ENV=${ENV} \
            --env URL_SEED_JOBS_REPO=${URL_SEED_JOBS_REPO} \
            --env LDAP_PASSWORD=${LDAP_PASSWORD} \
            ${JENKINS_IMAGE_NAME}:${JENKINS_IMAGE_VER}
ExecStop=/bin/bash -c "if [[ $(docker ps -a -f 'name=%p') ]]; then docker stop %p; fi"

[Install]
WantedBy=multi-user.target