[Unit]
Description=Timer to cleanup the Jenkins workspace and old build
[Timer]
OnCalendar=Mon-Fri *-*-* 07:00:00
Unit=jenkins_cleanup.service
[Install]
WantedBy=multi-user.target
